{
  "mqtt_host": "your_mqtt_host",
  "mqtt_port": 1883,
  "mqtt_prefix": "/data/RFLINK",
  "mqtt_format": "json",
  "mqtt_message_timeout": 60,
  "mqtt_user":"your_mqtt_user",
  "mqtt_password":"your_mqtt_password",
  "mqtt_tls": false,
  "mqtt_reject_unauthorized": false,
  "mqtt_ca": "",
  "mqtt_cert": "",
  "mqtt_key": "",
  "mqtt_replace_spaces": true,
  "log_level": "DEBUG",
  "rflink_connection_type": "serial",
  "rflink_tty_device": "/dev/ttyUSB0",
  "rflink_tcp_host": "192.168.1.10",
  "rflink_tcp_port": 5000,
  "rflink_direct_output_params": [
    "BAT",
    "CMD",
    "SET_LEVEL",
    "SWITCH",
    "HUM",
    "CHIME",
    "PIR",
    "SMOKEALERT"
  ],
  "rflink_signed_output_params": [
    "TEMP",
    "WINCHL",
    "WINTMP"
  ],
  "rflink_wdir_output_params": [
    "WINDIR"
  ],
  "rflink_ignored_devices": []
}
